.header {
    width: 100vw;
    max-height: 90px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    left: -40px;
    height: 100%;
}

.logo-img {
    max-width: 160px;
    max-height: 125px;
    padding: 0;
}

.contact {

    border: 1px black solid;
    padding: 7px;
    border-radius: 2em;
    scale: 0.9;
    transition: 0.2s ease-in-out all;
    font-family: 'julius sans one';

}

.contact:hover {
    scale: 1;
    cursor: pointer;
}

.logo-txt {
    font-family: 'julius sans one';
    margin-left: -40px;
    margin-top: -10px;

}

.logo-txt1 {
    font-family: 'julius sans one';
    font-size: 25px;

}

.logo-txt2 {
    font-family: 'julius sans one';
    font-size: 25px;
    margin-top: -20px;
}