.navbar {
    width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: fit-content;
    flex-wrap: wrap;
}
.link {
    font-family: 'julius sans one';
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: relative;
    transition: color 0.3s ease-in-out; 
}


.link::after {
    content: ''; 
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); 
    width: 0;
    height: 1px; 
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.link:hover::after {
    width: 100%; 
}